* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    display: flex;
}

.mainImage {
    width: 70%;
    height: 100vh;
    background-color: #21409a;
}

.voterImage {
    height: 10vw;
    width: 10vw;
    margin-top: 5%;
    margin-left: 5%;
}

.votoImage {
    height: 50vh;
    width: 50vh;
    margin-top: auto;
    margin-left: 30%;
}

.login {
    width: 30%;
    height: 100vh;
    background-color: #f8f9f9;
    color: #062f81;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.itemContainer {
    margin-top: 7.5%;
    text-align: center;
}

.loginBtn {
    box-sizing: border-box;
    width: 22vw;
    height: 6vh;
    border: none;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(41, 41, 41);
    font-size: 15px;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(222, 222, 222, 1);
    -moz-box-shadow: 0px 0px 7px 4px rgba(222, 222, 222, 1);
    box-shadow: 0px 0px 7px 4px rgba(222, 222, 222, 1);
}

.loginBtn:focus {
    outline: none;
}
.loginBtn--google {
    background: #fff;
}
.loginBtn--google:focus {
    background: #fff;
}

.googleButton {
    float: left;
    margin-left: 2.5%;
    margin-top: 1%;
}

.kyquText {
    margin-top: 12.5%;
    margin-left: 12.5%;
    font-weight: 600;
}

.buttonText {
    color: #828282;
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
}

.rule {
    display: table;
    margin-top: 10%;
}

.rule > div {
    display: table-cell;
    white-space: nowrap;
}

.line > div {
    border-bottom: 1px solid silver;
    height: 1px;
}

.words {
    padding: 0 5px;
    color: #828282;
    font-size: 16px;
}

.line {
    width: 50%;
    vertical-align: middle;
}

.inputForms {
    padding-top: 20px;
}

input {
    border: 1px solid #cbcbcb;
    border-radius: 6px;
}

input[type="text"] {
    font-size: 15px;
    color: black;
    height: 6vh;
    width: 22vw;
    margin-bottom: 5%;
}

input[type="password"] {
    font-size: 15px;
    color: black;
    height: 6vh;
    width: 22vw;
    margin-bottom: 7.5%;
    letter-spacing: 1px;
}

.labelStyle {
    font-size: 16px;
    float: left;
    padding-left: 14.5%;
}

.labelStyle2 {
    font-size: 16px;
    float: left;
    padding-left: 14.5%;
}

.textInputFoo {
    padding-left: 15px;
}

.kyquButton {
    width: 23vw;
    height: 6vh;
    background-color: #f96e7f;
    border: 0px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Source Sans Pro', sans-serif;
}

.forgotPasswordText {
    color: #828282;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 10%;
}

.helpText {
    color: #828282;
    float: right;
    font-size: 14px;
    font-weight: lighter;
    padding-top: 7.5%;
    padding-right: 5%;
}

.text-danger {
    color: #f71111;
    font-size: 15px;
}

#user {
    margin-top: -10%;
    margin-bottom: 8%;
}
#passw {
    margin-top: -10%;
    margin-bottom: 10%;
}
#emailError {
    margin-top: 7%;
}
#passError {
    margin-bottom: 20%;
}
#password {
    font-family: "Courier New", Courier, monospace;
}
#username {
    font-family: "Courier New", Courier, monospace;
}

#loginn {
    margin-top: -15%;
}
